challenges/Season[[:space:]]IV[[:space:]]Beginner's[[:space:]]Game[[:space:]]Room/forgotten-fragments-forensics/files/sus_coms.zip filter=lfs diff=lfs merge=lfs -text
challenges/Forensics/time-will-tell/files/TimeWillTell.vmem filter=lfs diff=lfs merge=lfs -text
challenges/Web/catgpt/files/cat-gpt.zip filter=lfs diff=lfs merge=lfs -text
